.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.labelForm {
  width: 100%;
  font-weight: bold;
  display: block;
  font-size: 15px;
}

.form {
  width: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.loginContainer {
  height: 500px;
  width: 500px;
  border-radius: 30px;
  color: black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
}

.inputForm {
  width: 100%;
  border-radius: 5px;
  padding: 8px 4px;
}
.forget {
  text-decoration: underline;
  margin-left: 2px;
}

.link a {
  color: rgb(112, 110, 110);
  text-decoration: none;
  padding-left: 5px;
}

.link a:hover {
  color: black;
  text-decoration: underline;
}

.labelCampos {
  width: 250px;
}
